<!DOCTYPE html>
<html>
  <head>
    <title>TodoWithPhlex</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_stylesheet_tag 'application.scss' %>

    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application.ts' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
